.header {
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
  color: white;
  transition: all 0.2s linear;
  transform: translateY(0);
  background: transparent;

  .nav-link {
    color: white !important;
  }

  .navbar {
    padding: 0 100px;
    align-items: flex-end;
    box-shadow: 0 0 10px 0 #0000005e;
    .navbar-brand {
      width: 250px;
      display: flex;
      color: #a5f3fc;
      h1 {
        align-self: flex-end;
        margin: 0;

        font-family: "Grenze", serif;
      }
    }
    .navbar-nav {
      padding-bottom: 7px;
      margin-left: 20px;
      .nav-item {
        margin-right: 5px;
        .nav-link {
          letter-spacing: 1px;
          &:hover {
            color: #bae6fd !important;
          }
          &.active {
            color: #bae6fd !important;
            font-weight: bold;
          }
        }
      }
    }
  }
}
